.products{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 100vh;
    
    .categories{
        min-width: 280px;
        width: fit-content;
        min-height: calc(100vh - 100px);
        padding: 2rem;
        border-right: 1px solid rgb(200, 200, 200);
        /* background-color: rgb(240, 240, 240); */

        ul{
            cursor: pointer;
            margin-bottom: 1.5rem;
            padding: 0;
            text-align: left;
            font-size: .85rem;
            transition: transform ease .2s;

            &:hover{
                transform: translateX(10px);
                transition: transform ease .2s;
            }
        }
    }

    .productList{
        padding: 2rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;    
    }
}