@import "../../variables.scss";

.projects{
    padding-top: 100px;
    width: 100%;
    height: fit-content;
    padding-inline: auto;

    .projectsContainer{
      padding: 2rem;
      display: flex;
      justify-content:center;
      flex-wrap: wrap;
    }

    @media screen and (max-width:768px) {
        padding-top: $mobile-padding-top;
      }
}