.footer{
    width: 100%;
    height: 250px;
    background-color: rgb(240, 240, 240);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 1rem;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        height: fit-content;
    }

    &-companies{
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        img{
            margin-bottom: 5px;
            cursor: pointer;
        }
    }

    &-links{
        width: 25%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        .nav-item{
            cursor: pointer;
            font-weight: 600;
            text-decoration: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: rgb(16, 16, 89);
            font-size: 1.2rem;
        }
    }

    &-adress{
        width: 25%;
        height: 100%;
        padding: 1rem;

        @media screen and (max-width: 768px) {
            width: 100%;
        }

        p{
            padding: 0;
            margin: 0;
        }
    }

    &-map{
        width: 25%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}