.headerNav{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100px;
    max-height: 100px;
    overflow: hidden;
    background-color: rgba(250, 250, 250, 0.97);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1rem;
    padding-inline: 2rem;
    box-shadow: 0 5px 10px -3px rgb(205, 205, 205);
    transition: height ease .3s;

    .logo-container{
        height: 100%;
        width: auto;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .nav-container{
        width: 80%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
        margin-left: 5rem;

        .nav-item{
            cursor: pointer;
            font-weight: 400;
            text-decoration: none;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            color: rgb(16, 16, 89);
            font-size: 1.1rem;
            padding-inline: 1rem;
            border-right: 1px solid rgb(210, 210, 210);
        }
     
        .nav-item:last-child{
            border-right: none;
        }

        /* .nav-item:hover{
            background-color: rgb(218, 218, 218);
        } */
    }
}