.infoContainer{
    width: 100%;
    height: fit-content;
    padding-inline: 10%;
    padding-top: 1rem;
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: rgb(245, 245, 245);

    @media screen and (max-width:768px) {
        padding-inline: 0;
    }

    
    h2{
        margin-top: 3rem;
        margin-bottom: 2rem;

        @media screen and (max-width:768px) {
            margin-bottom: 1.2rem;
        }
    }
    
    .content{
        height: 350px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width:768px) {
            flex-direction: column;
        }
        
        .imgContainer{
            width: 50%;
            height: 100%;
            border-radius: 70px 0 70px 0;
            overflow: hidden;
            border: 5px outset rgb(1,90,170) ;

            @media screen and (max-width:768px) {
                width: 100%;
            }
    
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    
        .textContainer{
            width: 50%;
            height: 100%;
            padding: 2rem;

            @media screen and (max-width:768px) {
                width: 100%;
            }
    
            p{
                font-size: 1rem;
                text-align: left;
                text-indent: 1rem;
                line-height: 2rem;
            }
        }
    }
}