@import "../variables.scss";

.accordion{
    width: 100%;
    padding-bottom: 10rem;
    @media screen and (max-width:768px) {
        padding-bottom: 1rem;
    }
    .accordion-item {
        margin-block: 1rem;
        border: 1px solid $main-grey !important;
        border-radius: .2rem !important;
        overflow: hidden;
    }
    .accordion-button:focus{
        outline: none;
        box-shadow: none;
    }
    .accordion-button:not(.collapsed){
        background-color: rgba($logo-green,.05);
    }
    .accordion-header{
        h6{
            margin-bottom: 0;
        }
    }
    .accordion-body{
        text-align: justify;
        padding: 0;
    }
}